<header class="banner">
    <div class="logo">
        <img src="{{cdn}}images/logoudenar.svg" class="img-logo">
    </div>
</header>
<div class="row fixrow">
    <nav class="navbar2">
        <ul class="nav2 navbar-nav2">
            <li class="iconosmenu">
                <app-sidebar-minimizer></app-sidebar-minimizer>
                <a href="#" class="btn-hide-sidebar" appSidebarToggler>
                    <img src="{{cdn}}images/contraer.svg" class="tam_icono">
                </a>
            </li>
            <li class="iconosmenu">
                <a href="#">
                    <img src="{{cdn}}images/dashboard.svg" class="tam_icono">
                </a>
            </li>
            <li class="iconosmenu">
                <a href="{{login}}">
                    <img src="{{cdn}}images/menu.svg" class="tam_icono">
                </a>
            </li>
        </ul>
        <ul class="nav4 navbar-nav4 pull-right">
            <li class="nav-item dropdown usermenudrop" dropdown placement="bottom right">
                <a class="mi-navlink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
                    <span class="user-name">PEPITO PEREZ</span>
                    <img src="{{cdn}}images/avatar.svg" class="iconodrop ">
                </a>
                <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                    <li class="user-header">
                        <img src="{{cdn}}images/avatar.svg" alt="User Image">
                        <p>
                            PEPITO PEREZ
                            <span class="num_cedula">
                <small>Usuario: 123456633</small>
              </span>
                        </p>
                    </li>
                    <li class="user-footer">
                        <a href="#" class="link-user-footer conHover" ng-click="navvm.logout()">Cambiar contraseña</a>
                        <a href="#" class="link-user-footer conHover pull-right" ng-click="navvm.logout()">Cerrar sesión</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div class="app-body">
    <app-sidebar [fixed]="false">
        <app-sidebar-header>
        </app-sidebar-header>
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized">
        </app-sidebar-nav>
    </app-sidebar>

    <main class="main">
        <br>
        <div class="container-fluid">
            <div class="content bodycontainer">
                <router-outlet>
                </router-outlet>
            </div>
        </div>
        <app-footer>
            <span class="footera"><a href="https://www.udenar.edu.co" target="_blank">Universidad de Nariño</a> &copy;
        {{year}}.</span>
            <span class="ml-auto footerb">Desarrollado por: <a href="https://ci.udenar.edu.co" target="_blank">Centro de
          informática</a></span>
        </app-footer>
    </main>
</div>