<div class="animated fadeIn">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
      <div class="box border_top">
        <div class="box-header">
          <img src="{{ cdn }}/images/crear_color.svg" class="icono_titulos" />
          <h3 class="box-title title_box"></h3>
        </div>

 <div class="box-body body-form">
<form [formGroup]="vehiculosGpsForm">
       <app-select xname='id_vehiculo_gps' formControlName="id_vehiculo_gps" [xform]="vehiculosGpsForm" [data]="vehiculosGps"
        xval='id_vehiculo_gps' xopt='modelo_gps' xtooltip="requerido" xtooltip="{{msj.too_veh}}" titulo="{{msj.lbl_veh}}" required>
          
        </app-select>
        <div class="row">
          <div class='col-sm-6'>
            <app-input-date xname='fec_ini' formControlName="fec_ini" [xform]="vehiculosGpsForm" xtooltip="requerido" xtooltip="{{msj.too_fec_ini}}" titulo="{{msj.lbl_fec_ini}}" [showHora]="true"   required></app-input-date>
          </div>
          <div class='col-sm-6'>
            <app-input-date xname='fec_fin' formControlName="fec_fin" [xform]="vehiculosGpsForm" xtooltip="requerido" xtooltip="{{msj.too_fec_fin}}" titulo="{{msj.lbl_fec_fin}}" [showHora]="true"  required></app-input-date>
          </div>
        </div>
       </form>

   </div>
   <div class="box-footer">
    <div class="pull-right">
      <button type="button" class="btn btnSave" (click)="buscar()">
        <img src="{{ cdn }}/images/busqueda.svg" class="icono-lateral" />
        {{ msj.btn_buscar }}
      </button>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>

<p-panel *ngIf="vehiculoSeleccionado">
  <p-header>
      <div class="row">
          <div class="col-sm-11">
              <div class="form-inline">
                  <img src="{{cdn}}/images/lista.svg" class="icono_titulos"> &nbsp;
                  <p class="letraHeadPanel"><b>Recorrido vehiculo</b></p>

              </div>
          </div>
      </div>
  </p-header>
  <agm-map #gm [latitude]='latitude' [longitude]='longitude' [zoom]="18" *ngIf="vehiculoSeleccionado" >
  
      <agm-polyline  [strokeColor]="'#00923f'">
          <ng-container *ngFor="let i of vehiculoSeleccionado.IotUbicacionVehiculos">
          <!-- <agm-polyline-point *ngIf = "i.speed < maxSpeed " [latitude]="i.latitude" [longitude]="i.longitude"> -->
          <agm-polyline-point [latitude]="i.ubicacion.x" [longitude]="i.ubicacion.y">
          </agm-polyline-point>
      </ng-container>
      </agm-polyline>
      <agm-marker #m (mouseOver)="onMouseOver(infoWindow,gm,p)" (mouseOut)="onMouseOut(p,infoWindow)" [animation]="p.animation" [label]="p.labelOptions" [iconUrl]="p.iconUrl" *ngFor="let p of vehiculoSeleccionado.IotUbicacionVehiculos" [latitude]="p.ubicacion.x" [longitude]='p.ubicacion.y'
          >
          <agm-info-window #infoWindow>

              <div>
                  <h6><b>{{p.fec_ubicacion | date: 'dd/MM/yyyy HH:mm'}}</b></h6>
                  <small><b>Coordenadas:</b><br>({{p.ubicacion.x}}, {{p.ubicacion.y}})</small>
              </div>
              <br>
              <div>
                  <!-- <button pButton type="button" label="{{carousel.btnH}}" icon="fa fa-fw fa-file-excel-o" (click)="goToHistorics(medidor)"></button>&nbsp;
                  <button pButton type="button" label="{{carousel.btnM}}" icon="fa fa-fw fa-bar-chart" (click)="goToMonitoring(medidor)"></button>  -->
              </div>

          </agm-info-window>
      </agm-marker>
      <!-- <agm-marker #m (mouseOver)="onMouseOver(infoWindow,gm,medidor)" (mouseOut)="onMouseOut(medidor)" [animation]="medidor.animation" [label]="medidor.labelOptions" [iconUrl]="medidor.iconUrl" *ngFor="let medidor of elements" [latitude]="medidor.ubicacion.x" [longitude]='medidor.ubicacion.y'
          (click)="goToMonitoring(medidor)">
          <agm-info-window #infoWindow>

              <div>
                  <h6><b>{{medidor.nombre}}</b></h6>
                  <small><b>{{medidor.IotMarcaDispositivoMedida.IotTipoDispositivo.descripcion}}</b> -{{medidor.IotMarcaDispositivoMedida.IotTipoDispositivo.descripcion}}</small>
              </div>
              <br>
              <div>
                  <button pButton type="button" label="{{carousel.btnH}}" icon="fa fa-fw fa-file-excel-o" (click)="goToHistorics(medidor)"></button>&nbsp;
                  <button pButton type="button" label="{{carousel.btnM}}" icon="fa fa-fw fa-bar-chart" (click)="goToMonitoring(medidor)"></button>
              </div>

          </agm-info-window>
      </agm-marker>
      <agm-marker [label]="labelOptions2" [iconUrl]="iconUrl" [latitude]="latitude2" [longitude]='longitude2'>
      </agm-marker> -->
  </agm-map>
</p-panel>
<p-panel *ngIf="!vehiculoSeleccionado">
<p>No ha seleccionado un vehículo o No hay ubícaciones del vehiculo por mostrar en el rango de fechas seleccionado</p>
</p-panel>
